@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    /*font-family: 'Roboto', serif;*/
    font-size: 14px;
    padding: 0;
    margin: 0;
}

ul > li {
    list-style: none;
}

ul.list-square > li {
    list-style: square;
}

ul.list-circle > li {
    list-style: circle;
}

ul.list-disc > li {
    list-style: disc;
}

.font-16 {
    font-size: 16px;
}

.font-13 {
    font-size: 13px;
}

.navbar .dropdown-menu[data-bs-popper] {
    left: -68px;
}

.container-custom {
    max-width: 1100px;
}

#exam_register .box-img {
    text-align: center;
}

#exam_register .box-img img {
    max-width: 800px;
}

.content > ol > li > span {
    cursor: pointer;
    padding: 0 5px;
}

.content > ol > li {
    margin-bottom: 3px;
}

@media (max-width: 500px) {
    #header-pc {
        display: none;
    }

    #header-mb {
        display: block !important;
    }

    .container-custom {
        padding-left: 0;
        padding-right: 0;
    }

    .box-main > div {
        padding-left: 6px !important;
        padding-right: 6px !important;
    }
}